/*
 * Chris Sewalson
 * CSS for CSD360 
 * 3/22/2022
*/

body {
    padding: 5%;
    font-family: Verdana, Helvetica, sans-serif;
}

#cars {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
h1 {
    text-align: center;
}
#name{
    text-align: center;
}
#FibOut{
    text-align: center;
    font-family: Verdana, sans-serif, Helvetica;
    font-size: x-small;
}
#FibLabel{
    text-align: center;
}

p {
    font-family: Verdana, sans-serif, Helvetica;
    margin: 3%;
}

#work, #home, #family, #toys {
    font-style: italic;
    color:blue;
}
li{
    margin: 10px;
}

button {
    text-align: center;
    margin-left: 10%;
}
table, td {
    border: 1px solid black;
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}
th {
    width: 150px;
    border: 1px solid black;
    text-align: center;
}

#Tabl{
    text-align: center;
    font-family: Verdana, sans-serif, Helvetica;
}

