/*
Rusty DeGarmo
Professor Sampson
Interactive Dev with JavaScript
28 November 2021
*/

body {
    padding: 5%;
    font-family: Verdana, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
p {
    font-family: Verdana, sans-serif, Helvetica;
    margin: 3%;
}
li{
    margin: 10px;
}

table, td {
    border: 1px solid black;
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}
th {
    width: 150px;
    border: 1px solid black;
    text-align: center;
}

#Tabl{
    text-align: center;
    font-family: Verdana, sans-serif, Helvetica;
}